*{
    margin: 0px;
    padding: 0px;
}
.container {
    display: flex;
    justify-content: center;
    margin: 0px auto;
}
.banner {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0 6rem 0 6rem;
}
#profile {
    color: white;
    margin-right: 30px;
    font-size: x-large;
    border: 5px solid red;
}
.banbox1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: large;
    border: 5px solid red;
}
/* cannot get signout to right side */
#signout {
    color: white;
    background-color: aquamarine;
    justify-content: right;
    align-self: center;
    width: 6rem;
    height: 2rem;
    border: 5px solid red;
}

/*start profile page content*/

.profilepage {
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
.leftsidepage {
    margin: 20px;
}

/*profile card section*/

.profilecard {
    display: flex;
    flex-direction: column;
    height: 350px;
}
.header {
    width: 100%;
    border-top: 100px solid cyan;
} 
.detail {
    display: flex;
    flex-direction: column;
}
.detail2 {
    padding: 20px;
    height: 210px;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid lightgrey;
    border-right: 3px solid lightgrey;
    border-left: 3px solid lightgrey;
}
#user-circle {
    width: 5rem;
    position: absolute;
    top: 120px;
    border: solid 5px lightgrey;
    border-radius: 50%;
}
.name {
    font-size: x-large;
    font-family: cursive;
    margin-top: 15px;
}
#mapmarker {
    width: .75rem;
    height: 1.25rem;
}
.location {
}
.paragraph {
    line-height: 0.5rem;
    font-size: 16px;
}
#gear {
    width: 1.3rem;
    height: 1.3rem;
}
#website {
}

/*education box*/

.educationbox {
    margin-top: 20px;
    height: 200px;
    width: 525px;
    display: flex;
    flex-direction: column;
}
#header2 {
    height: 30px;
    width: 500xp;
    padding-left: 20px;
    padding-bottom: 5px;
    background-color: black;
    color: white;
    font-size: 25px;
    align-items: center;
}
ul {
    list-style-type: none;
}
#dates {
    color: grey;
}
.edcontent {
    padding-top: 10px;
    padding-left: 10px;
    border-right: solid 5px lightgrey;
    border-left: solid 5px lightgrey;
}