.rightsidepage {
    margin: 20px;
}

.requests {
    height: 150px;
    width: 200px;
    border: solid 5px red;
}
#header3 {
    border-top: solid 50px black;
}
.text {
    padding: 10px;
}
.conreq {
    position: relative;
    top: 10px;
    color: red;
}


.connections {
height: 300px;
width: 300px;
border: solid 5px black;
margin-top: 30px;
}
.conheader {
    height: 50px;
    border: solid 1px red;
    background-color: black;
    color: white;
    text-align: center;
}
#fiveplus .conheader{
    background-color: grey;
    border: lightgrey;
    border-radius: 50%;
}

.connectionbody{
    display: flex;
}
.bottomheader {
    border: 5px solid lightgrey;
}
#usercircle {
    width: 2rem;
}